@{
  ViewData["Title"] = "Chi tiết hóa đơn";
}

<head>
  <link rel="stylesheet" href="~/css/layout.css?v=1" />
  <link rel="stylesheet" href="~/css/index1.css?v=2" />
  <link rel="stylesheet" href="~/css/orderhistory.css" />
  <link rel="stylesheet" href="~/css/viewOrderDetails.css?v=7" />
</head>
@using System;
@using CourseTeachCook.Models;
@using System.Collections.Generic;
@using System.Globalization;
@using System.Linq;
<style>
  #view-customer tr:nth-child(even),
  #view-list-product tr:nth-child(even) {
    background-color: #314359;
  }

  #view-customer tr,
  #view-list-product tr {
    height: 40px;
  }

  #view-customer tr:nth-child(odd),
  #view-list-product tr:nth-child(odd) {
    background-color: #203143;
  }

  #view-customer th,
  #view-list-product th {
    background-color: black;
    height: 40px;
  }

  .page-item a {
    color: black;
  }
</style>

@using (var system = new CourseTeachCookContext())
{
  int id = (int)ViewBag.id;
  Order order = new Order();
  order = order.GetOrder(id);
  Customer customer = system.Customers.Find(order.CustomerId);
  List<Orderdetail> orderdetails = new List<Orderdetail>();
  orderdetails = order.GetOrderDetails(id);
  long total = 0;
  <div class="right-body col-lg-10">
    <div class="title-body">
      <h4>Chi tiết hóa đơn</h4>


      <div class="row">
        <p class="head-of-order col-lg-9">Mã hóa đơn: @order.OrderId</p>
        <p class="head-of-order col-lg-3">Ngày tạo: @order.OrderDate.ToString("dd/MM/yyyy H:mm tt")</p>
      </div>
      <div class="row">

        @if (@order.StaffId == null)
        {
          <p class="head-of-order col-lg-9">Nhân viên xử lí: Admin</p>
        }
        else
        {
          <p class="head-of-order col-lg-9">Nhân viên xử lí: Admin
          </p>
        }
        @if (@order.OrderStatus == -1)
        {
          <p class="head-of-order col-lg-3">Trạng thái: Đang chờ xử lí</p>
        }
        else if (@order.OrderStatus == 0)
        {
          <p class="head-of-order col-lg-3">Trạng thái: Đang chờ thanh toán</p>
        }
        else if (@order.OrderStatus == 1)
        {
          <p class="head-of-order col-lg-3">Trạng thái: Đã hoàn thành</p>
        }
        else if (@order.OrderStatus == -2)
        {
          <div class="head-of-order col-lg-3">

            @if (@order.Canceler == 1)
            {
              <p class="head-of-order">Trạng thái: Đã hủy - Bởi: Nhân viên</p>
            }
            else
            {
              <p class="head-of-order">Trạng thái: Đã hủy - Bởi: Khách hàng</p>
            }

          </div>

        }

      </div>
      <div class="row">
        <p class="head-of-order col-lg-9">Thông tin yêu cầu: @order.RequireInformation</p>
        @if (@order.OrderStatus == -2)
        {
          <p class="head-of-order col-lg-3">Lí do hủy: @order.ReasonCancel</p>
        }
        else if (@order.OrderStatus == 1)
        {
          <p class="head-of-order col-lg-3"><a asp-controller="Order" asp-action="PrintOrder" asp-route-id="@order.OrderId"
          style="color: white; text-decoration: none">In hóa đơn<i class="fas fa-print"
            style="margin-left: 10px;"></i></a></p>
        }
      </div>

    </div>
    <div class="content-body">

      <table id="view-customer">
        <tr>
          <th class="col-lg-1">#</th>
          <th class="col-lg-2">HỌ TÊN</th>
          <th class="col-lg-2">EMAIL</th>
          <th class="col-lg-3">ĐIỆN THOẠI</th>
          <th class="col-lg-2">ĐỊA CHỈ</th>
          <th class="col-lg-2">SỐ LẦN ĐẶT HÀNG</th>
        </tr>
        <tr>@{
            <td class="col-lg-1">@customer.CustomerId</td>
            <td class="col-lg-2">@customer.CustomerName</td>
            <td class="col-lg-2">@customer.Email</td>
            <td class="col-lg-3">@customer.PhoneNumber</td>
            <td class="col-lg-2">@customer.Address</td>
            <td class="col-lg-2">@customer.NumberOfPurchases</td>}
        </tr>
      </table>
      <table id="view-list-product">
        <tr>
          <th class="col-lg-1">ID</th>
          <th class="col-lg-2">KHÓA HỌC</th>
          <th class="col-lg-2">GIÁ KHÓA HỌC</th>
          <th class="col-lg-3">GIÁ NGUYÊN LIỆU</th>
          <th class="col-lg-2">SỐ LƯỢNG</th>
          <th class="col-lg-2">TỔNG</th>
        </tr>
        @foreach (Orderdetail orderdetail in orderdetails)
        {
          total = total + ((orderdetail.CoursePrice + orderdetail.MaterialPrice) * orderdetail.Quantity);
          <tr>
            <td class="col-lg-1">@orderdetail.CourseId</td>
            <td class="col-lg-2">@(system.Courses.Find(orderdetail.CourseId).CourseName)</td>
            <td class="col-lg-2">@string.Format(new CultureInfo("vi-VN"),"{0:c}", orderdetail.CoursePrice)</td>
            <td class="col-lg-3">@string.Format(new CultureInfo("vi-VN"),"{0:c}", orderdetail.MaterialPrice)</td>
            <td class="col-lg-2">@orderdetail.Quantity</td>
            <td class="col-lg-2">@string.Format(new CultureInfo("vi-VN"),"{0:c}", ((orderdetail.CoursePrice +
          orderdetail.MaterialPrice) * orderdetail.Quantity))</td>
            @total = @((orderdetail.CoursePrice + orderdetail.MaterialPrice) * orderdetail.Quantity);

          </tr>
        }

        <tr>

          <td class="col-lg-1"></td>
          <td class="col-lg-2"></td>
          <td class="col-lg-2"></td>
          <td class="col-lg-3"></td>
          <td class="col-lg-2"></td>
          <td class="col-lg-2">@string.Format(new CultureInfo("vi-VN"),"{0:c}", @total)</td>

        </tr>
        <table>
        </table>
        <div class="row processOrder">
          <p class="col-lg-7"></p>
          @if (@order.OrderStatus == -1)
          {
            <button class="col-lg-2 btn btn-primary" style="margin-left:40px; margin-right: 40px"><a asp-controller="Order" asp-action="AcceptOrder" asp-route-id="@order.OrderId">Chấp
                nhận</a></button>
            <button class="col-lg-2 btn btn-danger"><a asp-controller="Order" asp-action="CancelOrder"
            asp-route-id="@order.OrderId">Hủy</a></button>
          }
          @if (@order.OrderStatus == 0)
          {
            <button class="col-lg-2 btn btn-primary" style="margin-left:40px; margin-right: 40px"><a asp-controller="Order" asp-action="Payment" asp-route-id="@order.OrderId">Thanh
                toán</a></button>
            <button class="col-lg-2 btn btn-danger"><a asp-controller="Order" asp-action="CancelOrder"
            asp-route-id="@order.OrderId">Hủy</a></button>
          }

        </div>

    </div>
  </div>
}