@using CourseTeachCook.Models
@using Microsoft.AspNetCore.Http;
@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutCustomer";
}
<head>
    <link rel="stylesheet" href="~/css/coursedetails.css?v=9">

</head>
  @using (var connect = new CourseTeachCookContext())
        {
            int id = ViewBag.courseId;
            Course course = new Course();
            course = course.GetCourseCus(id);
            Contactsinformation contact = new Contactsinformation();
            List<Contactsinformation> listContact = contact.GetContactAll();
            Bank bank = new Bank();
            List<Bank> banks = bank.GetBanks();
            Imagescourse imagescourse = new Imagescourse();
            List<Imagescourse> images = imagescourse.GetImagescourses(id);
<div class="main_child mb50">

   
        <div class="first_content">
            <div class="box_banner_img"> <img alt="Bánh kinh doanh"
                src="https://daynauan.vn/isocms/templates/default/skin/images/banner_detail.jpg" width="1600"
                height="300">
            </div>
                <div class="content_first_detail">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-lg-8" style="color: white;">
                                <h1 class="title_item">@course.CourseName</h1>
                                <div class="meta__h_info">
                                    <div class="box__info ">
                                        <ul class="ul_info_course">
                                            <li class="box__rate h_box__rate tooltipstered"
                                        data-tooltip-content="#box__rate_tooltip" style="display: flex;">
                                                <label class="rate-1">
                                                    <div class="ratingStar ratingStar_main64" course_id="64" number_rate="5"
                                                style="overflow: auto;">
                                                @for (int i = 1; i <= course.CourseRates; i++)
                                                {
                                                    <i class="fas fa-star" style="color: yellow;"></i>
                                                }
                                                @for (int i = course.CourseRates+1; i <=5; i++)
                                                {
                                                    <i class="fas fa-star" style="color: #d0d0d0"></i>
                                                } 
                                                    </div>
                                                </label>
                                                <span style="margin-top: 3px">(<span class="rate_numb rate_num64">@course.Views lượt xem</span>)</span>
                                            </li>
                                            <li class="box_people color_b22b25"> @course.NumberOfSession buổi</li>
                                            <li class="box_people color_b22b25"> @course.NumberOfDishs món</li>
                                            <li class="box_people color_b22b25"> @course.NumberOfHours h</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <div class="entry_detail">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="box_list_tabs ">
                                <div class="list_tabs_details">
                                    <ul class="ul_list_tabs_details">
                                        <li class="active"><a href="#box_intro" class="link_anchor">Thông tin khóa học</a></li>
                        
                                    </ul>
                                </div>
                                <div id="box_intro" class="link_anchor">
                                    <h3>Thông tin khóa học</h3>
                                    <div class="formatTextStandard">

                                        <p> &nbsp;@course.CourseDescription</p>

                                    </div>
                                </div>
                                <div id="box_extra" class="link_anchor">
                                    <h3>Thông tin bổ sung</h3>
                                    <div class="formatTextStandard">
                                        <p><span style="font-size: x-large;">Tổ chức lớp học:</span></p>
                                        <ul>
                                            
                                            <li>Số lượng học viên: @course.NumberOfStudent học viên/lớp.&nbsp;Các học
                                                viên sẽ học, thực hành trực tiếp cùng với giáo viên, nhận được sự hướng dẫn tỉ
                                                mỉ của giáo viên</li>
                                        </ul>
                                        <p><span style="font-size: x-large;">Hồ sơ đăng ký học:</span></p>
                                        <ul>
                                            <li>Đăng ký trực tiếp tại @course.AddressLearn</li>
                                            <li>Qua form đăng ký tại website</li>
                                            <li>Qua hotline: @contact.PhoneNumber </li>
                                        </ul>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Yêu cầu:&nbsp;hoàn thiện 100% học phí trước ngày khai giảng.</p>
                                        <p><span style="font-size: x-large;">Thanh toán học phí:</span></p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Khi đăng ký học bạn vui lòng đóng học phí để được nhập học. Các hình thức đóng
                                            học phí:</p>
                                        <ul>
                                            <li>Đóng tiền mặt trực tiếp tại @course.AddressLearn</li>
                                            <br>
                                        </ul>
                                        <p><span style="font-size: x-large;">Danh sách các ngân hàng tại trung tâm:</span></p>
                                        @foreach (Bank bank1 in banks)
                                        {
                                            <ul>
                                                <li>NGÂN HÀNG: @bank1.BankName</li>
                                                <li>SỐ TÀI KHOẢN: @bank1.AccountNumber</li>
                                                <li>CHỦ TÀI KHOẢN: @bank1.NameOwner </li><br>
                                            </ul>
                                            
                                            
                                        }

                                    </div>
                                </div>
                               
                            </div>

                        </div>

                        <div class="box_right_destop col-md-4">
                            <div class="box_right">
                                <div class="box_sb_detail locus_box_no_tag ">
                                    <div id="fix-scroll" class="">
                                        <div class="box-bk-detail bd-solid-1-ccc m-l-r-15-m">
                                            <div class="box__sb_info hscroll-detailCourse fix_height_scroll h-dish-detail">
                                                <div class="box_slide_right" style="display: block;">
                                                    <div class="mid_drsv1">
                                                        <div class="slide_right">

                                                            <div id="slider" class="flexslider">
                                                                <div class="flex-viewport"
                                                            style="overflow: hidden; position: relative;">
                                                                    <ul class="slides"
                                                                style="width: 400%; transition-duration: 0.6s; transform: translate3d(-376px, 0px, 0px);">
                                                                        <li class=""
                                                                    style="width: 376px; float: left; display: block;">
                                                                            <img src="" draggable="false">
                                                                        </li>
                                                                        <li class="flex-active-slide"
                                                                    style="width: 376px; float: left; display: block;">
                                                                            <img src="/Image/ImageDesign/CourseImage/@course.FeatureImage"
                                                                        draggable="false">
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                               
                                                            </div>
                                                            <div id="carousel1" class="flexslider">
                                                                <div class="flex-viewport"
                                                            style="overflow: hidden; position: relative;">
                                                                    <ul class="slides"
                                                                style="width: 410%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                                                       
                                                                        @foreach (Imagescourse image in images)
                                                                        {
                                                                            <li class="flex-active-slide"
                                                                    style="width: 81px; float: left; display: block;">
                                                                                <img src="/Image/ImageDesign/CourseImage/@image.ImageSource" width="81px"
                                                                        height="66px" draggable="false">
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="box_infor_course">
                                                    <p class="p_price"> <span class="fs_13px">Chỉ từ</span> <span
                                                    class="span_price"> @string.Format(new CultureInfo("vi-VN"),"{0:c}",course.CoursePrice) </span> 
                                                    </p>
                                                    <div class="content_need_fix" style="display: block;">
                                                        <p class="p_total_price"> <span class="fs_16px">Nguyên liệu:</span>
                                                            <span
                                                        class="fs_18px color_b22b25">@string.Format(new CultureInfo("vi-VN"),"{0:c}",course.MaterialPrice)</span>
                                                            
                                                        </p>
                                                        <p class="p_total_price"> <span class="fs_16px">Trọn gói:</span> 
                                                        <span class="fs_18px color_b22b25">@string.Format(new CultureInfo("vi-VN"),"{0:c}",(course.MaterialPrice + course.CoursePrice))</span>

                                                        </p>
                                                    </div>
                                                    <div class="buy_and_wish"> 
                                                        <a asp-controller="Customer" asp-action="Buy"
                                                    asp-route-id="@course.CourseId" title="Đăng ký"
                                                    class="btn__sb btn_sb_book"
                                                    style="text-transform:uppercase;width:100% !important;text-decoration:none;color:White">Đăng ký</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
}