@using CourseTeachCook.Models;
@using System.Globalization
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutCustomer";
}
<head>
    <link rel="stylesheet" href="~/css/Infor.css?v=1">

</head>
@using (var connect = new CourseTeachingCookContext())
{
    Customer customer = ViewBag.customer;

List<Order> orders = connect.Orders.Where(o=>o.CustomerId == customer.CustomerId).ToList();

    
    <div class="main_child">

        <div class="container">

            <div class="row">

                <div id="ctl00_divCenter" class="full-width col-sm-12">

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <section class="user-sidebar clearfix">
                                <div class="userinfo clearfix">
                                    <figure>
                                        <img alt="" src="/Image/ImageDesign/UserImage/@customer.Image" class="avatar user-img">
                                        <figcaption>
                                            <div class="title">Tài khoản của</div>
                                            <div class="user-name">
                                                @customer.CustomerName
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                @* <i class="fa fa-angle-down"></i> *@
                            </section>
                            <nav class="user-sidelink clearfix">
                                <ul>

                                    <li class="hvr-sweep-to-right active">
                                        <a asp-controller="Customer" asp-action="Infor" asp-route-id="@customer.CustomerId" style="text-decoration: none;"><i class="fa fa-info-circle"></i> Thông tin tài khoản</a>
                                        </li>
                                    <li class="hvr-sweep-to-right"><a asp-controller="Customer" asp-action="ChangePassword" asp-route-id="@customer.CustomerId" style="text-decoration: none;">
                                            <i class="fa fa-lock"></i> Đổi mật khẩu</a></li>
                                    
                                    <li class="hvr-sweep-to-right"><a asp-controller="Customer" asp-action="ViewOrders" asp-route-id="@customer.CustomerId" style="text-decoration: none;">
                                            <i class="fa fa-list-alt"></i> Quản lý đơn hàng</a></li>
                                    <li class="hvr-sweep-to-right">
                                        <a asp-controller="Customer" asp-action="Logout"><i class="fa fa-sign-out"></i>
                                            Thoát</a></li>
                                    
                                </ul>
                            </nav>
                        </div>

                        <div class="col-md-9 col-sm-8">
                            <div id="ctl00_mainContent_pnlUser" class="user-page clearfix">

                                <h1 class="postname"> Khóa học của tôi </h1>



                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table" style="background: #f2f2f2;">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Mã đơn hàng</th>
                                                    <th scope="col">Ngày mua</th>
                                                    <th scope="col">Khóa học</th>
                                                    <th scope="col">Tổng tiền</th>
                                                    <th scope="col">Trạng thái đơn hàng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (Order order in orders)

                                                {
                                                    int total = 0;
                                                    List<Orderdetail> orderdetails = connect.Orderdetails.Where(o => o.OrderId == order.OrderId).ToList();
                                                    foreach (Orderdetail orderdetail in orderdetails)
                                                    {
                                                        total = (orderdetail.CoursePrice+ orderdetail.MaterialPrice)*orderdetail.Quantity;

                                                    }
                                                    
                                                    Course course = new Course();

                                                    course = course.GetCourse(orderdetails[0].CourseId);

                                                    <tr>
                                                        <td scope="row"  ><a asp-controller="Customer" asp-action="ViewOrderDetails" asp-route-id="@order.OrderId" asp-route-id1="@customer.CustomerId" style="color: #0084ff;">@order.OrderId</a></td>
                                                        <td>@order.OrderDate</td>
                                                        <td>@course.CourseName</td>
                                                        <td>@string.Format(new CultureInfo("vi-VN"),"{0:c}",@total)
                                                        </td>
                                                        
                                                            @if (order.OrderStatus == -1)
                                                            {
                                                                <td>
                                                                    Đang chờ chấp nhận
                                                                </td>
                                                            }
                                                            else if (order.OrderStatus == 0)
                                                            {
                                                                <td>
                                                                    Đang chờ thanh toán
                                                                </td>
                                                            }
                                                            else if (order.OrderStatus == 1)
                                                            {
                                                                <td>
                                                                    Đã thanh toán
                                                                </td>
                                                            }
                                                            else if (order.OrderStatus == -2)
                                                            {
                                                                <td>
                                                                    Đã hủy
                                                                </td>
                                                            }
                                                            else{
                                                                 <td>
                                                                    @order.OrderStatus
                                                                </td>
                                                            }
                                                        
                                                    </tr>

                                                }



                                            </tbody>
                                        </table>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>






                </div>

            </div>

        </div>

    </div>
}