@using CourseTeachCook.Models;
@using System.Globalization
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutCustomer";
}
<head>
    <link rel="stylesheet" href="~/css/Infor.css?v=2">

</head>
@using (var connect = new CourseTeachCookContext())
{
    Customer customer = ViewBag.customer;

    Order order = ViewBag.order;
    Orderdetail orderdetail = new Orderdetail();
    orderdetail = connect.Orderdetails.Single(orderdetail=>orderdetail.OrderId == order.OrderId);
    Course course = connect.Courses.Find(orderdetail.CourseId);
    int total = (orderdetail.CoursePrice + orderdetail.MaterialPrice)*orderdetail.Quantity;
    <div class="main_child">

        <div class="container">

            <div class="row">

                <div id="ctl00_divCenter" class="full-width col-sm-12">

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <section class="user-sidebar clearfix">
                                <div class="userinfo clearfix">
                                    <figure>
                                        <img alt="" src="/Image/ImageDesign/UserImage/@customer.Image" class="avatar user-img">
                                        <figcaption>
                                            <div class="title">Tài khoản của</div>
                                            <div class="user-name">
                                                @customer.CustomerName
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                @* <i class="fa fa-angle-down"></i> *@
                            </section>
                            <nav class="user-sidelink clearfix">
                                <ul>

                                    <li class="hvr-sweep-to-right active">
                                        <a asp-controller="Customer" asp-action="Infor" asp-route-id="@customer.CustomerId"  style="text-decoration: none;"><i class="fa fa-info-circle"></i> Thông tin tài khoản</a>
                                        </li>
                                    <li class="hvr-sweep-to-right"><a asp-controller="Customer" asp-action="ChangePassword" asp-route-id="@customer.CustomerId" style="text-decoration: none;">
                                            <i class="fa fa-lock"></i> Đổi mật khẩu</a></li>
                                    
                                    <li class="hvr-sweep-to-right"><a asp-controller="Customer" asp-action="ViewOrders" asp-route-id="@customer.CustomerId" style="text-decoration: none;">
                                            <i class="fa fa-list-alt"></i> Quản lý đơn hàng</a></li>
                                    <li class="hvr-sweep-to-right">
                                        <a asp-controller="Customer" asp-action="Logout"><i class="fa fa-sign-out"></i>
                                            Thoát</a></li>
                                    
                                </ul>
                            </nav>
                        </div>

                        <div class="col-md-9 col-sm-8">
                            <div id="ctl00_mainContent_pnlUser" class="user-page clearfix">
                                
                                    <div style="display: -webkit-box;">
                                        <h1 class="col-md-5 postname"> Chi tiết đơn hàng - @order.OrderId</h1>
                                       
                                        <h6 class="col-md-3" style="float: right;padding:8px">Ngày đặt hàng :@order.OrderDate.ToString("dd/MM/yyyy")
                                        </h6>
                                        <h6 class="col-md-3" style="float: right;padding:8px">
                                                    Trạng thái :@if (order.OrderStatus == -1)
                                                            {
                                                                <td>
                                                                    Đang chờ chấp nhận
                                                                </td>
                                                            }
                                                            else if (order.OrderStatus == 0)
                                                            {
                                                                <td>
                                                                    Đang chờ thanh toán
                                                                </td>
                                                            }
                                                            else if (order.OrderStatus == 1)
                                                            {
                                                                <td>
                                                                    Đã thanh toán
                                                                </td>
                                                            }
                                                            else if (order.OrderStatus == -2)
                                                            {
                                                                <td>
                                                                    Đã hủy
                                                                </td><br>
                                                                <td>
                                                                    Lí do: @order.ReasonCancel
                                                                </td>
                                                            }
                                        </h6>

                                </div>
                                

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table" style="background: #f2f2f2;">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Khóa học</th>
                                                    <th scope="col">Giá khóa học</th>
                                                    <th scope="col">Giá nguyên liệu</th>
                                                    <th scope="col">Số lượng</th>
                                                    <th scope="col">Tạm tính</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               <tr>
                                                   <td>@course.CourseName</td>
                                                   <td>@string.Format(new CultureInfo("vi-VN"),"{0:c}",@orderdetail.CoursePrice)</td>
                                                   <td>@string.Format(new CultureInfo("vi-VN"),"{0:c}",@orderdetail.MaterialPrice)</td>
                                                   <td>@orderdetail.Quantity</td>
                                                   <td>@string.Format(new CultureInfo("vi-VN"),"{0:c}",@total)</td>
                                                   <td>
                                                        @if (order.OrderStatus == -1 || order.OrderStatus == 0){
                                                        <a class="btn btn-danger" asp-controller="Customer" asp-action="CancelOrder" asp-route-id="@order.OrderId" asp-route-id1="@customer.CustomerId" style="width: 100%;margin-top:-10px">Hủy</a>
                                                        }
                                                   </td>
                                               </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>



                            </div>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>
}